In [1]:
import pandas as pd
import numpy as np

In [10]:
directory='~/MasiveData/massive_data_processing_project1/data/processed/temperatures/H-DHT11-measures.json'
#dtype={'sensor':str, 'value':float}
df =pd.read_json(directory,lines=True, parse_dates=['time'])

TypeError: read_json() got an unexpected keyword argument 'parse_dates'

In [8]:
df.head()

    sensor                  time  value
0  H-DHT11  2017-12-22T11:22:11Z     31
1  H-DHT11  2017-12-22T11:22:16Z     31
2  H-DHT11  2017-12-22T11:22:20Z     31
3  H-DHT11  2017-12-22T11:22:24Z     31
4  H-DHT11  2017-12-22T11:22:28Z     31

In [9]:
df.tail()

          sensor                  time  value
1420297  H-DHT11  2018-03-13T11:41:53Z     33
1420298  H-DHT11  2018-03-13T11:41:57Z     33
1420299  H-DHT11  2018-03-13T11:42:01Z     33
1420300  H-DHT11  2018-03-13T11:42:05Z     33
1420301  H-DHT11  2018-03-13T11:42:09Z     33

In [11]:
sum(df['value'][:100])

3171